.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f0f0f0;
}

.list-view {
    -fx-background-color: #d9efff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

.table-view {
    -fx-background-color: #d9efff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}

.button {
    -fx-background-color: #66b2ff;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
}

.button:hover {
    -fx-background-color: #68a2de;
}

.button-bar {
    -fx-background-color: #e6e6e6;
    -fx-padding: 10;
    -fx-spacing: 10;
}
