.pane {
    -fx-background-color: #d9efff;
}

.label {
    -fx-font-family: 'Arial';
    -fx-text-fill: #000000; /* schwarzer Text */
}

.text-field {
    -fx-background-color: #FFFFFF; /* weißer Hintergrund */
}

.choice-box {
    -fx-background-color: #FFFFFF; /* weißer Hintergrund */
}

.button {
    -fx-background-color: #66b2ff; /* blauer Hintergrund */
    -fx-text-fill: #FFFFFF; /* weißer Text */
    -fx-background-radius: 5; /* abgerundete Ecken */
    -fx-border-color: #FFFFFF; /* weiße Border */
    -fx-border-width: 1px; /* Breite der Border */
    -fx-border-radius: 5px; /* abgerundete Ecken für Border */
}

.button:hover {
    -fx-background-color: #68a2de; /* dunklerer blauer Hintergrund bei Hover */
}
