.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f0f0f0;
}

.table-view {
    -fx-background-color: #d9efff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}

.hbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.label {
    -fx-text-fill: #000000; /* schwarzer Text */
}

.button {
    -fx-background-color: #66b2ff; /* blauer Hintergrund */
    -fx-text-fill: white; /* weißer Text */
    -fx-background-radius: 5; /* abgerundete Ecken */
    -fx-padding: 5 10; /* Innenabstand */
    -fx-border-color: white; /* weiße Border */
    -fx-border-width: 1px; /* Breite der Border */
    -fx-border-radius: 5px; /* abgerundete Ecken für Border */
    -fx-margin: 5px; /* Abstand zwischen Buttons */
}

.button:hover {
    -fx-background-color: #68a2de; /* dunklerer blauer Hintergrund bei Hover */
}
